* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    background: url('./images/bg-intro-desktop.png');
    min-height: calc(100vh - 17px);
    position: relative;
    display: flex;
}

.container::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: hsl(0, 100%, 74%);
    z-index: -1;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    flex: 1 1 50%;
}

.section1 > div:first-child {
    font-weight: 600;
    color: white;
    font-size: 54px;
    line-height: 60px;
}

.section1 > div:nth-child(2) {
    color: white;
    margin-top: 40px;
}

.section2 {
    flex: 1 1 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section2 > button , .form-container > form > button {
    width: 60%;
    border: none;
    background: hsl(248, 32%, 49%);
    color: white;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    font-weight: 400;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    outline: none;
}

.section2 > button:hover {
    background: hsl(248, 32%, 58%);
}

.section2 >button::after, .form-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: hsl(249, 10%, 26%);
    bottom: -5px;
    border-radius: 8px;
    z-index: -1;
    opacity: 0.3;
}

.form-container {
    width: 60%;
    margin-top: 30px;
    background: white;
    padding: 40px;
    border-radius: 8px;
    position: relative;
}
.form-container > form {
    display: flex;
    flex-direction: column;
}

.form-container > form > div:not(.terms) {
    position: relative;
    margin-bottom: 20px;
}

.form-container > form input {
    height: 50px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid lightgray;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 100%;
}

.form-container > form > input:active, .form-container > form > input:focus {
    border: 1px solid hsl(248, 32%, 49%);
}

.form-container > form > button {
    box-shadow: 0 5px 1px -2px rgb(51,183,125);
    background: hsl(154, 59%, 51%);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    width: 100%;
    height: 50px;
}

.form-container > form > button:hover {
    background: hsl(154, 59%, 62%);
}

form > .terms {
    font-size: 11px;
    margin-top: 15px;
    text-align: center;
    color: hsl(246, 25%, 77%);
}

form > .terms > span {
    color: hsl(0, 100%, 74%);
    font-weight: 700;
    cursor: pointer;
}

.error {
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.warning {
    text-align: right;
    font-size: 11px;
    color: hsl(0, 100%, 74%);
    font-style: italic;
    font-weight: 500;
    margin-top: 5px;
    display: none;
}

@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .section1, .section2 {
        padding: 25px;
        text-align: center;
    }

    .section2 > button, .section2 > .form-container {
        width: 100%;
    }
    .hide {
        display: none;
    }
    .section1 > div:first-child {
        font-size: 28px;
        line-height: initial;
        margin-top: 60px;
    }
    .section1 > div:nth-child(2) {
        margin-top: 20px;
    }
    .section2 > button {
        height: 90px;
        padding: 5px;
    }

    .form-container {
        padding: 25px;
    }
}
